* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.top-bar {
  background-color: #f4f4f4;
  color: #000;
  padding: 10px 150px;
}

.top-bar span {
  padding: 0 15px;
}

.top-bar span + span {
  margin-left: 20px;
}

.top-bar .fa-phone-alt,
.top-bar .fa-envelope,
.top-bar .fa-map-marker-alt {
  color: #00bfa5;
}

.nav-container {
  display: flex;
  align-items: center;
  background-color: #28d4b2;
  color: white;
  padding: 0 20px;
}

.logo {
  background-color: white;
  padding: 15px;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 50px;
  width: auto;
}

.nav-left {
  display: flex;
  gap: 50px;
  padding: 10px 50px;
}

.nav-right {
  display: flex;
  gap: 40px;
  margin-left: auto;
  margin-right: 0px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 170px;
  padding-right: 150px;
  padding-bottom: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgb(202, 196, 196);
  position: relative;
}

.hero-content {
  max-width: 500px;
}

.hero h1 {
  color: #000000;
  font-size: 3em;
  margin-bottom: 20px;
}

.play-icon {
  margin-bottom: 40px;
  color: #00bfa5;
}

.play-icon .fas {
  font-size: 50px;
  color: #00bfa5;
}

.hero h1 span {
  color: #28d4b2;
}

.hero p {
  margin-bottom: 20px;
}

.hero button {
  background-color: #000000;
  color: white;
  padding: 8px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hero-image {
  max-width: 50%;
  border-radius: 10px;
}

.appointment {
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 90px auto;
  max-width: 1009px;
}

.appointment h2 {
  color: #4ae1c8;
  margin-bottom: 30px;
  text-align: justify;
}

.appointment h2 span {
  color: #0b0b0b;
  text-decoration: underline solid rgb(27, 243, 196);
}

.appointment form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.appointment input,
.appointment select,
.appointment button {
  padding: 10px;
  width: 300px;
  font-size: 1em;
}
.form-group input,
select {
  margin-top: 6px;
}

.appointment button {
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  width: 150px;
  grid-column: span 2;
  border-radius: 3px;
}

.slider-nav {
  position: absolute;
  bottom: 0px;
  right: 200px;
  display: flex;
  gap: 10px;
  transform: translateY(50%);
  padding: 5px;
}

.prev-icon,
.next-icon {
  padding: 10px;
  background-color: #00bfa5;
}

.appointment input,
.appointment select {
  border: 2px solid #00bfa5;
}

.appointment input[type="tel"]::placeholder,
.appointment input[type="date"] {
  color: #00bfa5;
}

.hero-dots {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translateY(60%);
}

.hero-dots img {
  height: 800px;
  width: 350px;
}
